@import 'vendors/reset.scss';
@import 'vendors/identity.scss';
@import 'vendors/appearance.scss';
@import 'vendors/attack.scss';
* {
    box-sizing: border-box;
    --gradient: linear-gradient(to right, #FEEC01,#77731E);
  }
  
  img {
    max-width: 100%;
  }
  body{
    background-color: rgb(135, 203, 98);
    padding: 5px;
    border: solid 1rem;
    border-image: var(--gradient)30;
    min-height: 100vh;
  }
  header{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .header_1{
    justify-content: space-between;
  }
  .header_2,.header_1{
    display: flex;
    align-items: center;
  }
  
  figure{
    margin: 0 10px;
  }
  
  ul{
    border-top: 3px solid black;
    display: flex;
    justify-content: space-between;
    font-size: small;
  }
  li{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer{
    margin: 0px 5px;
    border: 0.2rem solid;
    border-image: var(--gradient)30;
    
    font-size: smaller;
    font-style: italic;
    
  }